Brotli==1.1.0
certifi==2024.6.2
charset-normalizer==3.3.2
ffmpeg-python==0.2.0
future==1.0.0
idna==3.7
mutagen==1.47.0
pyaes==1.6.1
pycryptodomex==3.20.0
pymediainfo-pyrofork==6.0.1
pyrofork==2.3.26
PySocks==1.7.1
requests==2.32.3
TgCrypto==1.2.5
urllib3==2.2.2
websockets==12.0
yt-dlp==2024.5.27
